html {
  box-sizing: border-box;
  background-color: lightgrey;
  font-family: opensans;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #000;
  margin: 1.5rem;

}


section {
  display: flex;

}
