html {
  box-sizing: border-box;
  background-color: lightgrey;
  font-family: opensans;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #000;

}


section {
  display: flex;

}
